#white-board {
    touch-action: none;
    border: 1px solid #888;
}

#bottom-tab {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 5px;
    left: 0px;
    bottom: 0px;
    gap: 5px;
    background-color: #88888888;
}

.button {
    border: 1px solid #888;
    background-color: white;
    color: black;
}

.blackened {
    background-color: black;
    color: white;
}